VITE_AUTH_SERVICE_URL=http://localhost:5001
VITE_AUTH_FRONT_URL=http://localhost:3004
VITE_LABEL_SERVICE_URL=http://localhost:5008
VITE_VISION_FRONT_URL=http://localhost:3012
VITE_ACCOUNT_FRONT_URL=http://localhost:3007
