VITE_VISION_API_URL=http://localhost:4010
VITE_AUTH_SERVICE_URL=http://localhost:5001
VITE_AUTH_FRONT_URL=http://localhost:3004
VITE_GROUP_SERVICE_URL=http://localhost:5006
VITE_ACCOUNT_FRONT_URL=http://localhost:3007
